In [3]:
import requests
import pandas as pd
from datetime import date
from datetime import datetime
import datetime
import time
import urllib
from bs4 import BeautifulSoup
import re
from urllib.request import urlopen
import lxml.html as lh

In [5]:
url = 'https://www.bolsamadrid.es/esp/aspx/Mercados/Precios.aspx?indice=ESI100000000&punto=indice'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [48]:
[len(T) for T in tr_elements[8:44]]

[9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9]

In [47]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[8]:
    i+=1
    name=t.text_content()
    print('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Nombre"
2:"Últ."
3:"% Dif."
4:"Máx."
5:"Mín."
6:"Volumen"
7:"Efectivo (miles €)"
8:"Fecha"
9:"Hora"

In [49]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(8,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=9:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [50]:
[len(C) for (title,C) in col]

[36, 36, 36, 36, 36, 36, 36, 36, 36]

In [51]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [52]:
df

,Nombre,Últ.,% Dif.,Máx.,Mín.,Volumen,Efectivo (miles €),Fecha,Hora
0,Nombre,Últ.,% Dif.,Máx.,Mín.,Volumen,Efectivo (miles €),Fecha,Hora
1,ACCIONA,"159,6000","-0,13","160,3000","158,0000",4.165,"663,90",10/12/2021,09:57:49
2,ACERINOX,"10,2200","0,15","10,2500","10,1650",117.038,"1.194,07",10/12/2021,09:57:46
3,ACS,"21,4900","0,37","21,5900","21,3000",40.830,"875,89",10/12/2021,09:57:50
4,AENA,"130,1500","-0,38","130,6000","129,0500",9.978,"1.294,55",10/12/2021,09:57:51
5,ALMIRALL,"10,6800","-0,19","10,7400","10,6300",68.359,"730,98",10/12/2021,09:56:32
6,AMADEUS,"57,4800","-0,24","57,6600","56,5800",73.942,"4.227,06",10/12/2021,09:57:43
7,ARCELORMIT.,"25,9950","0,81","26,0950","25,8000",54.505,"1.415,04",10/12/2021,09:57:43
8,B.SANTANDER,"2,7215","0,15","2,7250","2,7000",5.875.341,"15.929,11",10/12/2021,09:57:58
9,BA.SABADELL,"0,5942","-0,47","0,5978","0,5900",1.702.797,"1.009,62",10/12/2021,09:57:17
10,BANKINTER,"4,3380","-0,12","4,3540","4,3290",80.755,"350,37",10/12/2021,09:57:43
11,BBVA,"5,1020","-1,03","5,1240","5,0410",2.697.515,"13.710,20",10/12/2021,09:58:00
12,CAIXABANK,"2,3090","-0,69","2,3270","2,3040",1.154.458,"2.672,09",10/12/2021,09:57:43
13,CELLNEX,"51,8600","-1,33","52,1600","51,7200",52.285,"2.715,41",10/12/2021,09:57:43
14,CIE AUTOMOT.,"26,6200","-0,15","26,6800","26,3800",23.607,"626,81",10/12/2021,09:57:43
15,ENAGAS,"20,5600","-0,05","20,5900","20,4600",81.645,"1.676,52",10/12/2021,09:56:37
16,ENDESA,"19,7250","-0,20","19,7950","19,6650",41.152,"811,98",10/12/2021,09:57:43
17,FERROVIAL,"25,7100","-0,04","25,7900","25,5600",40.775,"1.047,77",10/12/2021,09:57:43
18,FLUIDRA,"33,1500","-1,63","33,6000","33,0500",27.952,"928,62",10/12/2021,09:57:13
19,GRIFOLS CL.A,"15,4100","0,10","15,6300","15,3550",123.280,"1.907,87",10/12/2021,09:57:43
20,IAG,"1,6130","0,31","1,6240","1,5920",1.750.479,"2.814,98",10/12/2021,09:57:43
21,IBERDROLA,"9,7780","-0,89","9,8720","9,7580",769.529,"7.549,05",10/12/2021,09:57:51
22,INDITEX,"28,5700","1,03","28,6400","28,3100",239.745,"6.829,41",10/12/2021,09:57:44
23,INDRA A,"10,4100","-0,67","10,5000","10,3800",93.755,"979,38",10/12/2021,09:57:30
24,INM.COLONIAL,"8,0200","0,69","8,0500","7,8850",62.089,"496,67",10/12/2021,09:57:43
25,MAPFRE,"1,7980","-0,36","1,8050","1,7950",264.573,"476,34",10/12/2021,09:57:43
26,MELIA HOTELS,"5,8620","0,17","5,8980","5,8220",55.607,"325,75",10/12/2021,09:57:44
27,MERLIN,"9,7760","0,00","9,8020","9,7360",15.128,"147,92",10/12/2021,09:57:43
28,NATURGY,"24,9400","-1,27","25,1400","24,6100",98.484,"2.446,77",10/12/2021,09:57:43
29,PHARMA MAR,"53,3000","-1,33","54,0200","53,2200",4.982,"266,88",10/12/2021,09:57:51
30,R.E.C.,"18,7850","-0,19","18,8400","18,6700",49.049,"921,41",10/12/2021,09:57:44
31,REPSOL,"10,0880","-0,47","10,1520","10,0600",243.733,"2.460,47",10/12/2021,09:57:44
32,SIEMENS GAME,"21,4600","-0,92","21,5700","21,2600",98.075,"2.098,91",10/12/2021,09:57:32
33,SOLARIA,"16,3050","-0,70","16,4800","16,2200",87.819,"1.433,28",10/12/2021,09:57:46
34,TELEFONICA,"3,6890","-0,18","3,7135","3,6590",1.031.734,"3.805,34",10/12/2021,09:57:43
35,VISCOFAN,"54,8000","-2,66","55,8500","54,7500",45.168,"2.498,65",10/12/2021,09:56:48

In [53]:
df.to_csv('Ibex35_10_Dic', mode='a', header=False)